data/description
data/column_names.txt
data/raw_shift-jis.csv
data/raw_shift-jis.csv.gz
data/raw_utf-8.csv

references

3_Attrition_IBM_Referece.ipynb
11111111111report.txt
correlation_coefficient.ipynb
featuretools.ipynb
GBDT_XGBoost.ipynb
KernelPCA.ipynb
KMeans_customize.ipynb
KMeans.ipynb
KNN.ipynb
PCA.ipynb
README_local.md
SparsePCA.ipynb